<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.jiahuan.androidlearn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".pullrefresh.PullRefreshActivity" />

        <activity android:name=".propertyanimation.PropertyAnimationActivity" />

        <activity android:name=".service.ServiceActivity" />

        <activity
            android:name=".TransparentActivity"
            android:theme="@style/AppTheme.Translucent" />

        <activity android:name=".handler.HandlerActivity" />

        <activity android:name=".react.ReactNativeActivity" />

        <activity android:name=".skin.SkinChangeActivity" />
        <activity android:name=".threadpool.ThreadPoolActivity" />
        <activity android:name=".cache.LruCacheActivity" />

        <service android:name=".service.MyService" />
    </application>


</manifest>
