<manifest
    package="com.github.jiahuanyu.example"
    xmlns:android="http://schemas.android.com/apk/res/android">


    <!--Service显示Dialog-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".servicedialog.ServiceDialogActivity"
            android:label="在Service中弹出对话框"/>

        <activity
            android:name=".dropdownmenu.DropDownMenuActivity"
            android:label="DropDownMenu"/>

        <activity
            android:name=".gridviewsort.GridViewSortActivity"
            android:label="拖放排序GridView"/>

        <activity
            android:name=".emptyview.EmptyViewActivity"
            android:label="擅用EmptyView"/>

        <!-- Preference -->
        <activity
            android:name=".preference.ExamplePreferenceActivity"
            android:label="Android Preference"/>

        <activity
            android:name=".preference.PreferenceEntranceActivity"
            android:label="Preference"/>

        <activity
            android:name=".preference.ExampleSupportPreferenceActivity"
            android:label="Library Preference"/>

        <service android:name=".servicedialog.MyService"/>

    </application>

</manifest>
