<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.jiahuan.androidlearn.function">

    <application>
        <activity android:name=".lru.LruCacheActivity" />
        <activity android:name=".rxjava2.RxJava2Activity" />
        <activity android:name=".binder.BinderActivity" />
        <activity android:name=".jni.JNIActivity" />
        <activity android:name=".hook.HookActivity" />


        <service
            android:name=".binder.BookRemoteService"
            android:enabled="true"
            android:exported="true"
            android:process="com.book" />
    </application>
</manifest>
